[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mitmproxy = "*"

[dev-packages]
black = "==22.3.0"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
